@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Teko, sans-serif;
    font-weight: 500;
    color: white;
    background-image: url('../images/hero-image.jpg');
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;

}

/* heading and logo*/

h1, h2 {
    font-family: Teko, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
}
#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}
#menu {
    font-size: 140%;
    letter-spacing: 5px;
}

#menu, #logo {
    line-height: 200px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid white;
}

.active {
    border-bottom: 2px solid white;
}

/*about us text*/
#about-us {
    height: 600px;
}
/* footer */
footer {
    background-color: black;
    padding: 15px;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: whitesmoke;
    text-align: center;
    letter-spacing: 2px;
    font-size: 110%;
}

footer > a {
    text-decoration: none;
    padding: 0 10px;
    color: whitesmoke;
}