@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Teko, sans-serif;
    font-weight: 500;
}